<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Scrabble Score Checker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Scrabble Score Checker</h1>
      </div>
      <form action="/score" method="post">
        <label for="word">Enter a word to check its Scrabble score:</label>
        <input id="word" name="word" type="text">
        <button type="submit">Translate!</button>
      </form>
    </div>
  </body>
</html>